<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://cdn5.vectorstock.com/i/1000x1000/04/29/spartan-logo-template-modern-logo-esport-team-vector-26010429.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <title>About</title>
  style 
   include styleabout.css
</head>
<body>  
    <nav class="nav">
      <ul class="list">
        <li><img src="https://c4.wallpaperflare.com/wallpaper/451/387/767/blood-helmet-spartan-wallpaper-preview.jpg" alt="" class="image"></li>
          <li><a href='/home'>Home</a></li>
          <li><a id="about" href='/about'>About Us</a></li>
          <li><a href='/service'>Services</a></li>
          <li><a href='/contact'>Contact Us</a></li> 
          
      </ul>
    </nav>
    <div class="about">
         
        <p class="te">About Me</p>

        <p class="text">This website has been created by me Abhinav Tushar ,I am currently pursuing BTECH in Mechanical Engineering from BIT MESRA,Ranchi,Jharkhand.This website has been created using Node JS,Vanilla Js,Express Js,CSS,HTML.I haven't used any CSS framework like Bootstrap or Tailwind CSS all the effects that you are seeing on website has been created using pure CSS.This website is very close to my heart as this was my first Web Development Project.
        </p>
    </div>
    <footer class="end">
      <div class="follow">
        <i class="fab fa-facebook" id="fb"></i>
        <i class="fab fa-instagram" id="in"></i>
        <i class="fab fa-linkedin" id="li"></i>
      </div>
      <p>Copyright 2022 © ||AB's Productions</p>
    </footer>
    <script src="about.js"></script>
</body>
</html>