<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://cdn5.vectorstock.com/i/1000x1000/04/29/spartan-logo-template-modern-logo-esport-team-vector-26010429.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <title>Contact US</title>
   
  style 
   include styleco.css
   
</head>
<body>  
    <nav class="nav">
      <ul class="list">
        <li><img src="https://c4.wallpaperflare.com/wallpaper/451/387/767/blood-helmet-spartan-wallpaper-preview.jpg" alt="" class="image"></li>
          <li><a href='/home'>Home</a></li>
          <li><a href='/about'>About Us</a></li>
          <li><a  href='/service'>Services</a></li>
          <li><a id="contact" href='/contact'>Contact Us</a></li> 
          
      </ul>
    </nav> 
    <div class="co">
      <h1 class="kon">Contact Us</h1>
    <form action="/contact" method="post" class="forms">
      
    <input type="text" name="name" class="input" placeholder="Enter your name" >
    <input type="email" name="email" class="input" placeholder="Enter your email">
    <input type="number" name="phone" class="input" placeholder="Enter your phone number">
    <input type="text" name="address" class="input" id="add" placeholder="Enter your address">
    <button  class="btn">
        <p class="text">Submit</p>  
        
    </button>
    
    </form>
    </div>
    <footer class="end">
      <div class="follow">
        <i class="fab fa-facebook" id="fb"></i>
        <i class="fab fa-instagram" id="in"></i>
        <i class="fab fa-linkedin" id="li"></i>
      </div>
        <p>Copyright 2022 © ||AB's Productions</p>
    </footer>
    <script src="contact.js"></script>
    </body>
    </html>