<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="https://cdn5.vectorstock.com/i/1000x1000/04/29/spartan-logo-template-modern-logo-esport-team-vector-26010429.jpg">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <title>Services</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  style 
   include stylese.css
</head>
<body>  
    <nav class="nav">
      <ul class="list">
        <li><img src="https://c4.wallpaperflare.com/wallpaper/451/387/767/blood-helmet-spartan-wallpaper-preview.jpg" alt="" class="image"></li>
          <li><a href='/home'>Home</a></li>
          <li><a href='/about'>About Us</a></li>
          <li><a id="service" href='/service'>Services</a></li>
          <li><a  href='/contact'>Contact Us</a></li> 
          
      </ul>
    </nav> 
    
        <div class="box">
            <div  class="customer" id="cus">
                <p class="text">24*7 Customer Support</p>
            </div>
            <div class="free">
                <p class="text">1 week Free trial Available</p>
            </div>
            <div class="air">
                <p class="text"> Fully Air Conditioned</p>
            </div>
            </div>
            <div class="boxx">
            <div class="equip"> 
                <p class="text">Well Maintained Equipments</p>
            </div>
            <div class="show">
                <p class="text">Shower rooms</p>
            </div>
            <div class="water">
                <p class="text">Water Purifiers</p>
            </div>
            </div>
            <footer class="end">
                <div class="follow">
                  <i class="fab fa-facebook" id="fb"></i>
                  <i class="fab fa-instagram" id="in"></i>
                  <i class="fab fa-linkedin" id="li"></i>
                </div>
                  <p>Copyright 2022 © ||AB's Productions</p>
                </footer>
                <script src="service.js"></script>
    </body>
    </html>